<html>
<head>
        <title>AutenticAcumAici</title>
    </head>
    <body>
    <div>
            <h1><a href="/">AutenticAcumAici</a></h1>
        </div>

        <div>
            <p>published: 30.06.2019 14:00</p>
            <h2><a href="">Primul meu post</a></h2>
            <p>Cea mai valoroasă atitudine pentru perpetuarea vieții este non-violența. Violența este antagonistă vieții. Viața este immortală.</p>
        </div>

        <div>
            <p>published:30.06.2019 14:00 </p>
            <h2><a href="">My second post</a></h2>
            <p>Intimitatea este sinonimul individualității, unicalității. A exprima individualitatea  înseamnă a exprima intimitatea.</p>
        </div>
    </body>
</html>
